<h2>Quản trị</h2>
<ul>
    <li><a asp-controller="Product" asp-action="Index">Quản lý sản phẩm</a></li>
    <li><a asp-controller="Order" asp-action="AllOrders">Quản lý đơn hàng</a></li>
    <li><a asp-action="Users">Quản lý người dùng</a></li>
</ul>
